<div class="container my-3">
    <ng-container *ngIf="loading">
        <div class="grafica" *ngIf="loading" id="container"></div>
    </ng-container>
    <div class="d-flex">
        <button class="btn btn-outline-success w-50 p-1" (click)="refrescar()">Refrescar</button>
        <a class="btn btn-outline-primary w-50 p-1" href="https://docs.google.com/forms/d/e/1FAIpQLSeglEwXoxh71cqOoBzZadxxA_izYpWI-v9MgtTtXYYhTbAzPg/viewform?usp=sf_link" target="blank" width="50">Ir a la encuesta</a>
    </div>
   
</div>